fastapi
uvicorn

crawl4ai

qdrant-client

sentence-transformers

rank-bm25

transformers

torch

tiktoken

langchain-text-splitters

openai

python-dotenv

redis

ragas

datasets

pandas

numpy

scikit-learn
